/* css for header*/
#logo img {max-width:100%; max-height:100%;}
#help img {max-width:100%; max-height:100%;}
#logo {width:100%; height:15%; background-color:white;}
#help {width:100%; height:8%;}
#frameContainer {
	text-align:center;
	height:70%;
	border-radius:25px;
	background:moccasin;
	margin:10px;
}

/* index.html */
#index {
	text-align:center;
	height:70%;
	border-radius:25px;
	background:moccasin;
	margin:20px;
	display:flex;
	align-items:center;
}

/* registration.html */
.details:before {height:15%;}
#details {margin:5px;}
#detailsInput {width:100%;}
#button {margin:20px;}

/* otp.html */
.otp:before {height:15%;}