/* css used in template.html */

#logo {
	width:100%;
	border: solid red;
}
#help {
	width:100%;
	padding-left:95%;
	border: solid blue;
}



#help img {max-width:100%; max-height:100%;}

.frameHead{display:flex; align-items:center; flex-wrap:wrap;}
#fh {border:solid black;}
	
.frameContainer {text-align:center;}
#fc {border-radius:25px; background:dodgerblue; margin:20px;}

.frameFoot {text-align:center;}
#ff {border-radius:25px; background:dodgerblue; margin:20px;}



/* Place css for other pages here*/

/* Index.html */
#indexIC {
    margin-top: 100px;
}